::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

body {
    font-family: 'ProximaNova', serif;
    font-weight: 300;
    background: #F4F5F6;
    overflow: hidden;
    width: 300px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

a {
    color: #57ACC5;
    text-decoration: none;
}

a:hover {
    color: #57ACC5;
    text-decoration: none;
}
