::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

body {
    font-weight: 300;
    background: #F4F5F6;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}
